.btn-custom {
  font-weight: 500;
  border-radius: var(--radius-md);
  transition: background-color 0.2s ease;

  &-primary {
    background-color: var(--primary);
    color: white;
    &:hover {
      background-color: var(--primary-hover);
      color: white;
      transition: all 0.2s ease;
    }
  }
  &-secondary {
    background-color: var(--secondary);
    color: white;

    &:hover {
      background-color: var(--secondary-hover);
      color: white;
      transition: all 0.2s ease;
    }
  }

  &-ghost {
    background-color: transparent;
    color: var(--primary);

    &:hover {
      background-color: rgb(224, 224, 224);
      border-radius: 15px;
      transition: all 0.2 ease;
    }
  }
}
