.banner {
  background-image: url('https://t3.ftcdn.net/jpg/03/10/62/12/360_F_310621281_foEqKBGtGlNWFQRePgdF5BpLOFyTsnzO.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &--explore {
    background-image: url('https://www.courtsite.my/images/explore_page_header.jpg');
    height: 300px;
    display: flex;
    align-items: end;
  }

  &--search {
    background-image: url('https://www.courtsite.my/images/search-venue.jpg');
    height: 300px;
    display: flex;
    align-items: end;
  }

  &--deals {
    background-image: url('https://www.courtsite.my/images/deals.jpg');
    height: 300px;
    display: flex;
    align-items: end;
  }

  .banner__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .banner__content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .banner__title {
      margin-bottom: 5vh;
    }

    .search-box {
      border-radius: 50px;
      height: 10vh;
      background-color: white;
      padding: 10px 0px;
      margin: 0 auto;
    }
  }
}
