.suggest-item-hoverable {
  transition: background-color 0.2s ease;
  color: black;

  &:hover {
    background-color: #d4e8fd;
  }

  .suggest-text {
    font-size: 14px;
    font-weight: 500;
    color: #212529;
  }
}

.suggest-box {
  top: 100%;
  margin-top: 8px;
  max-height: 300px;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
