.search-form {
  .form-group {
    position: relative;
    padding: 0 10px;

    &::after {
      content: '';
      position: absolute;
      top: 10%;
      right: -1rem;
      height: 80%;
      width: 1px;
      background-color: #dee2e6;
    }

    &:last-child::after {
      display: none;
    }
  }
}
