.search-form {
  .form-group {
    position: relative;
    padding: 0 10px;

    &::after {
      content: '';
      position: absolute;
      top: 10%;
      right: -1rem;
      height: 80%;
      width: 1px;
      background-color: #dee2e6;
    }

    &:last-child::after {
      display: none;
    }
  }

  .clear-icon {
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: var(--primary);
    }
  }
  .datepicker-wrapper {
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1000;
    min-width: 250px;
  }
}

.form-control#location-input {
  border: none;
  width: 90%;
  margin-right: 20px;
  &:focus,
  &:hover {
    outline: none;
    box-shadow: none;
  }
}
