@use './variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #{map-get($theme-light, background)};
  --text: #{map-get($theme-light, text)};
  --primary: #{map-get($theme-light, primary)};
  --font-size-base: #{$font-size-base};
}

body {
  font-family: #{$font-family-sans};
  --font-size-base: #{$font-size-base};
  background-color: var(--background);
  color: var(--text);
}

.no-hover:hover {
  background-color: inherit !important;
  color: inherit !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.placeholder-nowrap::placeholder {
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}

.no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

.container-custom {
  width: 100%;
  padding: 0 12px;

  @media (min-width: 992px) {
    width: 80vw;
    margin: 0 auto;
  }
}
