.footer-link-group {
  ul {
    li {
      a {
        text-decoration: none;
        color: var(--text-secondary);
      }

      &:nth-child(2) {
        margin-top: 10px;
      }
    }

    @media (max-width: 768px) {
      li:not(:first-child) {
        display: none;
      }
    }
  }
}
